<html>
    <head>
        <title> Django Girls Blog </title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published today! </p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post! I hope you like it</p>
        </div>

        <div>
            <p>published today! </p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post! I hope you like it</p>
        </div>

        <div>
            <p>published today! </p>
            <h2><a href="">My third post</a></h2>
            <p>This is my third post! I hope you like it</p>
        </div>
    </body>
</html>
